body [media]:not(style) { 
  position: relative;
}

body [media] > object {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: -1000;
  pointer-events: none;
}